.logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('images/badge_audit.svg');
    background-size: contain;
    filter: invert(100%);
}

@media (max-width: 768px) {
    .logo {
        width: 32px;
        height: 32px;
  }
}

.hash-tag {
    max-width: 132px;
    display: inline-block;
    vertical-align: bottom;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
